<!-- Modal -->
<div class="modal fade" id="inicialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
        <h2>¡{{'Bienvenido a Zlipmenu'|translate}}! </h2>

        <p>{{'Arma tu pedido en pocos pasos'|translate}}:</p>

        <ol>
          <li><b>{{'Selecciona'|translate}}:</b> {{'Navega por el menú, elige tus platos favoritos y añádelos al carrito de compras'|translate}}.</li>
          <li><b>{{'Envía tu pedido'|translate}}:</b> {{'Ingresa tu nombre, teléfono y tipo de despacho para enviar los detalles al local'|translate}}.
          </li>
          <li><b>{{'Coordina el pago'|translate}}:</b> {{'El local te contactará para precisar la ubicación, confirmar el costo y solicitarte el pago'|translate}}.</li>
          <li><b>{{'Reporta y recibe'|translate}}:</b> {{'Al cambiar el estado de tu orden, sube la foto y el número de confirmación del pago. ¡Listo para recibir'|translate}}!</li>
        </ol>

        <p><i>¡{{'Fácil, rápido y directo a tu mesa'|translate}}!</i></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">{{'Ok, Quiero Ver el Meńu'|translate}}!</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">{{'No quiero ver más este mensaje'|translate}}</button>
      </div>
    </div>
  </div>
</div>