<!-- Modal -->
<div class="modal fade" id="inicialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
        <h2>¡Bienvenido a Zlipmenu! </h2>

        <p>Arma tu pedido en pocos pasos:</p>

        <ol>
          <li><b>Selecciona:</b> Navega por el menú, elige tus platos favoritos y añádelos al carrito de compras.</li>
          <li><b>Envía tu pedido:</b> Ingresa tu nombre, teléfono y tipo de despacho para enviar los detalles al local.
          </li>
          <li><b>Coordina el pago:</b> El local te contactará para precisar la ubicación, confirmar el costo y
            solicitarte el pago.</li>
          <li><b>Reporta y recibe:</b> Al cambiar el estado de tu orden, sube la foto y el número de confirmación del
            pago. ¡Listo para recibir!</li>
        </ol>

        <p><i>¡Fácil, rápido y directo a tu mesa!</i></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Ok, Quiero Ver el Meńu!</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">No quiero ver más este
          mensaje</button>
      </div>
    </div>
  </div>
</div>