/*******************
Login register and recover password Page
******************/

.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
}

.login-box {
    width: 400px;
    margin: 0 auto;
    & .footer {
        width: 100%;
        left: 0px;
        right: 0px;
    }
    & .social {
        display: block;
        margin-bottom: 30px;
    }
}

#recoverform {
    display: none;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
    & .login-box {
        right: 0px;
        position: absolute;
        height: 100%;
    }
}

.login {
    color: #999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: anchor-center;
    & img{
        width: 150px; 
        height: auto; 
        margin:auto; 
        border-radius: 100px;
    }
}

/* tab-conten */

.tab-content-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    & .nav {
        display: flex;
        align-items: center;
        padding: 6px;
        gap: 15px;

        & li {
            display: flex;
            padding: 5px;
            font-size: 14px;
            gap: 15px;
            
            // 🟢 Estilos aplicados directamente al botón activo dentro de la lista
            & .btn {
                &.active {
                    background-color: var(--bs-info); // Color info de Bootstrap
                    color: white;                     // Texto blanco al seleccionarse
                    border-color: var(--bs-info);
                }
            }
        }
    }
}



/* // Estilo base para todas las pestañas cuando NO están seleccionadas */
.nav li .btn h3 {
    border: 1px solid var(--vinotinto);
    color: var(--vinotinto);
    background-color: transparent;
    transition: all 0.3s ease;
}

/* // Estilo automático cuando el enlace 'a' recibe la clase .active */
.nav li .btn.active h3 {
    background-color: green !important;
    color: #ffffff !important;
    box-shadow: 0 4px 6px rgba(65, 65, 65, 0.2);
}

/* // Efecto visual al pasar el mouse por encima (opcional) */
.nav li .btn:hover h3 {
    background-color: rgba(23, 162, 184, 0.1);
}
