<!-- <app-header></app-header> -->
<div class="login" id="page">

    <section class="boxed-sm">
        <div class="container">
            <div class="login-wrapper">
                <img src="../assets/images/logo.png" alt="Home" /><br/>
                <div class="login">
                    <h3>Log In</h3><br>
                    <div class="clear"></div>
                    <form class="form-horizontal form-material" id="loginform" [formGroup]="loginForm" (ngSubmit)="login()" autocapitalize="off">
                        <div class="form-group organic-form-2 m-t-40">
                            <div class="col-xs-12">
                                <input class="form-control" type="email" formControlName="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group organic-form-2">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" formControlName="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group organic-form-2 row">
                            <div class="col-md-12">
                                <div class="checkbox remember-me checkbox-primary pull-left p-t-0">
                                    <input id="checkbox-signup" formControlName="remember" type="checkbox" class="filled-in chk-col-light-blue">
                                    <label for="checkbox-signup"> Remember me </label>
                                </div>
                                <a routerLink="/recovery-password" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot password?</a> </div>
                        </div>
                        <div class="form-group organic-form-2 text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Log In</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center" id="google-btn">
                                <div id="my-signin2"></div>
                            </div>
                        </div>
                        <div class="form-group organic-form-2 m-b-0">
                            <div class="col-sm-12 text-center">
                                Don't have an account? <a routerLink="/registro" class="text-primary m-l-5"><b>Sign Up</b></a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

</div>