<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" *ngIf="product">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">{{product.name}}</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ft-recipe">
                    <div class="ft-recipe__thumb">
                        <span id="close-modal">
                            <i class="ion ion-md-close"></i>
                        </span>
                        <img [src]="product.img" [alt]="product.titulo" />
                    </div>
                    <div class="ft-recipe__content">
                        <header class="content__header">
                            <div class="row-wrapper">
                                <h2 class="recipe-title">{{product.titulo}}</h2>
                                <div class="user-rating"></div>
                            </div>
                            <ul class="recipe-details">
                                <li class="recipe-details-item time">
                                    <i class="fa fa-clock icon-small"></i>
                                    <span class="value">20</span>
                                    <span class="title">Minutes</span>
                                </li>
                                <li class="recipe-details-item ingredients">
                                    <i class="fa fa-book icon-small"></i>
                                    <span class="value">5</span>
                                    <span class="title">Ingredients</span>
                                </li>
                                <li class="recipe-details-item servings">
                                    <i class="fa fa-users icon-small"></i>
                                    <span class="value" style="text-decoration: line-through;">{{product.precio_antes |number:'1.2-2'|currency}}</span>
                                    <span class="value">{{product.precio_ahora |number:'1.2-2'|currency}}</span>
                                </li>
                            </ul>
                        </header>
                        <p class="description" [innerHTML]="product.detalle"></p>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>
