<app-header></app-header>
<aside class="col-lg-4 pt-4 pt-lg-0 " style="margin-top: 70px;">
    <app-aside-cuenta [isNotvisible]="true"></app-aside-cuenta>
</aside>
<!-- Page Content-->
<div class="container pb-5 mb-2 mb-md-3">
    <div class="row">
        <!-- Sidebar-->
        <!-- Content  -->
        <section class="col-xs-12 col-lg-8">
            <!-- <app-loading *ngIf="isLoading"></app-loading> -->
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                <h6 class="font-size-base text-light mb-0">{{'Actualiza los datos de tu perfíl'|translate}}:</h6>
            </div>
            <!-- Profile form-->
            
            <!-- Foto actual -->
            <div class="product_list">
                <div class="div1">
                    <img [src]="usuarioSeleccionado.img | imagenPipe: 'usuarios'"
                        [alt]="usuarioSeleccionado.first_name">
                </div>
                <div class="div2">
                    <h3>{{usuarioSeleccionado.first_name}} {{usuarioSeleccionado.last_name}} </h3>
                    <p>{{usuarioSeleccionado.numdoc}}</p>
                </div>
            </div>
            <form *ngIf="perfilForm" [formGroup]="perfilForm" (ngSubmit)="actualizarPerfil()" autocomplete="off">
                <!-- Foto -->
                <div style="height: auto; margin-bottom: 20px;">
                    <div class="col-xs-12 col-sm-">
                        <div class="form-group">
                            <div *ngIf="FILE_AVATAR">
                                <img [src]="IMAGE_PREVISUALIZA" style="width: 250px;" alt="Preview">
                            </div>
                            <div class="cz-file-drop-area">
                                <label for="file" class="upload labelgoogle">
                                    <input type="file" accept="image/*" name="image" id="file"
                                        (change)="cambiarImagen($event)" class="hide-input input">
                                    <span class="label__name">
                                        {{'Selecciona una Foto'|translate}}
                                    </span>
                                </label>
                                <button type="button" (click)="subirImagen()"
                                    class="btn btn-success waves-effect waves-light m-r-10 ">
                                    <i class="fa fa-save"></i> {{'Cambiar imagen'|translate}}
                                </button>


                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <br>
                <div class="container">
                    <div class="row">
                        <!-- Nombre -->
                        <div class="col-xs-12 col-sm-6 ">
                            <label for="validationCustom02" class="form-label labelgoogle">
                                <input type="text" formControlName="first_name" class="form-control input"
                                    id="validationCustom02" placeholder=" " required>
                                <span class="label__name">
                                    {{'Nombre'|translate}} <span class="login-danger">*</span>
                                </span>
                            </label>
                            @if(perfilForm.controls['first_name'].touched){

                            <div class="text-danger">
                                @if(perfilForm.controls['first_name'].errors?.['required']){
                                <span>{{'Campo Requerido'|translate}}</span>
                                }
                                @if(perfilForm.controls['first_name'].errors?.['minlength']){
                                <span>{{'Mínimo 3 caracteres'|translate}}</span>
                                }
                            </div>
                            }
                        </div>
                        <!-- Apellido -->
                        <div class="col-xs-12 col-md-6 ">
                            <label for="validationCustom02" class="form-label labelgoogle">
                                <input type="text" formControlName="last_name" class="form-control input"
                                    id="validationCustom02" placeholder=" " required>
                                <span class="label__name">
                                    {{'Apellido'|translate}} <span class="login-danger">*</span>

                                </span>
                            </label>
                            @if(perfilForm.controls['last_name'].touched){

                            <div class="text-danger">
                                @if(perfilForm.controls['last_name'].errors?.['required']){
                                <span>{{'Campo Requerido'|translate}}</span>
                                }
                                @if(perfilForm.controls['last_name'].errors?.['minlength']){
                                <span>{{'Mínimo 3 caracteres'|translate}}</span>
                                }
                            </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <!-- Identificación -->
                        <div class="col-xs-12 col-md-6 ">
                            <label for="validationCustom02" class="form-label labelgoogle">
                                <input type="text" formControlName="numdoc" class="form-control input"
                                    id="validationCustom02" placeholder=" " required>
                                <span class="label__name">
                                    {{'CI/Indentificación'|translate}}<span class="login-danger">*</span>
                                </span>
                            </label>
                            @if(perfilForm.controls['numdoc'].touched){

                            <div class="text-danger">
                                @if(perfilForm.controls['numdoc'].errors?.['required']){
                                <span>{{'Campo Requerido'|translate}}</span>
                                }
                                @if(perfilForm.controls['numdoc'].errors?.['minlength']){
                                <span>{{'Mínimo 3 caracteres'|translate}}</span>
                                }
                            </div>
                            }
                        </div>
                        <!-- Teléfono Móvil -->
                        <div class="col-xs-12 col-md-6 ">
                            <label for="validationCustom02" class="form-label labelgoogle">
                                <input type="text" formControlName="telefono" class="form-control input"
                                    id="validationCustom02" placeholder=" " required>
                                <span class="label__name">
                                    {{'Teléfono Móvil'|translate}}<span class="login-danger">*</span>
                                </span>
                            </label>
                            @if(perfilForm.controls['telefono'].touched){

                            <div class="text-danger">
                                @if(perfilForm.controls['telefono'].errors?.['required']){
                                <span>{{'Campo Requerido'|translate}}</span>
                                }
                                @if(perfilForm.controls['telefono'].errors?.['minlength']){
                                <span>{{'Mínimo 3 caracteres'|translate}}</span>
                                }
                            </div>
                            }
                        </div>
                    </div>

                    <div class="col-xs-12 ">
                        <div class="form-group">
                            <label for="account-phone">{{'País'|translate}}</label>
                            <select class="form-control" formControlName="pais" required>
                                <option value="" selected disabled>{{'Seleccione'|translate}}</option>
                                <option value="{{item.code}}" *ngFor="let item of paises">{{item.pais}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="custom-control custom-checkbox d-block"></div>
                            <button class="btn btn-outline-success w-100 py-3 rounded-pill fw-bold mt-3 mt-sm-0" type="submit">
                               {{'Actualizar perfíl'|translate}}
                            </button>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <p>{{'En caso que quieras cambiar tu contraseña'|translate}}</p>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="account-pass">{{'Nueva contraseña'|translate}}</label>
                                <div class="password-toggle">
                                    <input class="form-control" type="password" id="password" name="new_password"
                                        formControlName="password" placeholder="Nueva contraseña">
                                    <div class="invalid-feedback" *ngIf="pass_error">{{'Las contraseñas no coinciden'|translate}}.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="account-confirm-pass">{{'Confirmar contraseña'|translate}}</label>
                                <div class="password-toggle">
                                    <input class="form-control" type="password" id="password_dos"
                                        name="comfirm_password" formControlName="password"
                                        placeholder="Repita la contraseña">
                                    <label class="password-toggle-btn">
                                        <input class="custom-control-input" (click)="view_password2()"
                                            type="checkbox"><i class="czi-eye password-toggle-indicator"></i><span
                                            class="sr-only">
                                            {{'Mostrar Contraseña'|translate}}</span>
                                    </label>
                                    <div class="invalid-feedback" *ngIf="pass_error">{{'Las contraseñas no coinciden'|translate}}.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="custom-control custom-checkbox d-block">

                            </div>
                            <button class="btn btn-outline-primary w-100 py-3 rounded-pill fw-bold mt-3" type="submit">
                                {{'Actualizar Contraseña'|translate}}</button>
                        </div>
                    </div>
                </div>

            </form>

        </section>
    </div>
</div>