<section class="hero" id="inicio">
        <div class="hero-container">
            <div class="hero-content">
                <div *ngIf="nombreSelected ==='Pizzeria'">
                    <h1 class="hero-title">
                        Las Mejores <span>Pizzas</span><br>de la Ciudad
                    </h1>
                    <div class="hero-image" >
                        <img src="assets/images/pizza-queso.png" alt="Pizza ">
                    </div>

                </div>
                <div *ngIf="nombreSelected ==='Slidedish'">
                    <h1 class="hero-title">
                        Delicias <span>Frescas</span><br>cada Día
                    </h1>
                    <div class="hero-image" >
                        <img src="assets/images/croisant.png" alt="Croissant Slidedish">
                    </div>

                </div>
               
                <p class="hero-subtitle">
                    
                    Descubre el verdadero sabor con nuestros ingredientes frescos
                    y recetas tradicionales transmitidas por generaciones.
                    <br><br>
                    Registrate para solicitar tu pedido.
                </p>
                <div class="botns">
                    <a routerLink="registro" class="btn-primary" *ngIf="!isLogued">
                    <i class="fas fa-pizza-slice"></i> Registrarme
                </a>
                <a routerLink="my-account" class="btn-primary">
                    <i class="fas fa-user"></i> Ingresar a mi Cuenta
                </a>
                </div>
            </div>
            
        </div>
    </section>
    <div class="clear"></div>