<section class="hero" id="inicio">
        <div class="hero-container">
            <div class="hero-content">
                <h1 class="hero-title">
                    Las Mejores <span>Pizzas</span><br>de la Ciudad
                </h1>
                <div class="hero-image">
                    <img src="assets/images/pizza-queso.png" alt="Pizza Strapizza">
                </div>
                <p class="hero-subtitle">
                    
                    Descubre el verdadero sabor de Italia con nuestros ingredientes frescos
                    y recetas tradicionales transmitidas por generaciones.
                    <br><br>
                    Registrate para estar al tanto de nuestras promociones.
                </p>
                <div class="botns">
                    <a href="#menu" class="btn-primary">
                    <i class="fas fa-pizza-slice"></i> Registrarme
                </a>
                <a href="#menu" class="btn-primary">
                    <i class="fas fa-user"></i> Mi Cuenta
                </a>
                </div>
            </div>
            
        </div>
    </section>
    <div class="clear"></div>