<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
        <h2>Hola!</h2>
        <p>En esta sección van a ir mostrandose tus pedidos pendientes por pagar.</p>
        <p><b>Pagar es muy sencillo:</b> 
          Pulsa el boton <b>Completar mi Compra</b> selecciona las opciones de delivery, luego las opciones de pago disponibles del Establecimiento, 
        accede a tu aplicación bancaria, realiza el pago, copia y pega el número de referencia del pago para poder registrarlo, llena el formulario y disfruta de tu pedido.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Ok, Quiero ver la información!</button>
        <button type="button" class="btn btn-outline-danger" (click)="onNoShowMore()">No quiero ver más este mensaje</button>
      </div>
    </div>
  </div>
</div>