<!-- Header -->
<header class="header">
    <div class="header-container" (pulldown)="onPullRefresh()">
        <div class="logo">

            <span class="logo-text">{{titleapp}}</span>
            <a routerLink="/" *ngIf="tiendaSelected">
                    <img [src]="tiendaSelected.img | imagenPipe: 'tiendas'"  [alt]="tiendaSelected.nombre">
                    <!-- <img src="assets/images/logo.png" alt="Strapizza Logo"> -->
                </a>
            
        </div>
    </div>
</header>

<app-aviso class="aviso-pull" [aviso]="aviso" *ngIf="isAviso"></app-aviso>