<!-- Header -->
<header class="header">
    <div class="header-container" (pulldown)="onPullRefresh()">
        <div class="logo">
            <!-- CAMPANA CON BADGE -->
           <div class="position-relative me-3" routerLink="/notificaciones" style="cursor: pointer;">
                    <i class="fa fa-regular fa fa-bell fs-4 text-dark animated tada"></i>

                    <!-- Evaluamos el Observable. Si el valor emitido es mayor a 0, pinta el badge -->
                    @if ((unreadCount$ | async); as pendientes) {
                        @if (pendientes > 0) {
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                            style="font-size: 0.6rem;">
                            {{ pendientes }}
                        </span>
                        }
                    }
                </div>


            <span class="logo-text">Zlipmenu | {{titleapp}}</span>
            <app-loading *ngIf="isLoading"></app-loading>
            <a routerLink="/" *ngIf="tiendaSelected && !isLoading">
                <img [src]="tiendaSelected.img | imagenPipe: 'tiendas'" [alt]="tiendaSelected.nombre">
                <!-- <img src="assets/images/logo.png" alt="Strapizza Logo"> -->
            </a>

        </div>
    </div>
</header>

<app-aviso class="aviso-pull" [aviso]="aviso" *ngIf="isAviso"></app-aviso>