
/* Header */
.header {
    background-color: var(--white);
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

.header-container {
    width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px;
    width: auto;
}

.logo-text {
    font-family: 'Retro Team';
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.logo-icon {
    font-family: 'Retro Team';
    font-size: 1.6rem;
    font-weight: 700;
    color: #047e0c;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Navigation */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: var(--dark-text);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: var(--primary-color);
}


.menulateral{
    width: 80%;
    height: 100vh;
    background: #f2f2f2;
    padding: 15px 5px;
    position: absolute;

}

.menulateral ul{
    list-style: none;
    
}