

.products-grid {
   display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    padding-bottom: 0px;
    width: fit-content;
    position: relative;
}

.product-content{
    /* display: flex;
   flex-direction: row; */
   display: grid;
   grid-template-columns: calc(43vw) 1fr;
   grid-template-rows: 1fr;
   gap: 5px;
   height: auto;
   padding-bottom: 40px;
}

.infpr{
    display: flex;
    flex-direction: column;
}
.botns{
   display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: flex-start;
    flex-wrap: nowrap;
}

.product-card{
 display: grid;
  grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    height: 130px;
    width: 102%;
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-radius: 14px;
    background-color: rgb(245 245 245 / 59%);
    /* border-bottom: 2px solid #ddd; */
}

.favoritesdiv1 p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.favoritesdiv1 {
    grid-area: 1 / 1 / 2 / 2;
}

.favoritesdiv2 {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 50% 30% 20%;
}


