.precio {
    float: right;
    margin-right: 5px;
    margin-top: 5px
}

.precio p {
    float: left;
    margin-right: 5px;
}

.precio p:nth-child(1) {
    text-decoration: line-through;
}


.button-add-favorite ,
.button-add-cart{
    position: relative;
    right: 0;
    bottom: 10px;
}

.grid-item{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 15px
}

.infoinicial{
    display: flex;
    flex-direction: column;
}