<div class="menu-footer">
        <ul>

            <li>
                <a [routerLink]="['/']" routerLinkActive="active">
                    <i class="fa fa-home"></i>
                </a>
            </li>
           
            <li *ngIf="totalList > 0 ">
                <a [routerLink]="['/review']" routerLinkActive="active">
                    <!-- <i class="fa fa-shopping-bag"></i> -->
                    <span class="cart-count-badge" *ngIf="bandejaList.length > 0 && bandejaList.length <= 10">
                        {{totalList}}</span>
                    <span class="cart-count-badge" *ngIf="bandejaList.length > 10">
                        +10</span>
                    <i class="fa fa-shopping-cart animated tada "></i>
                </a>
            </li>
            
            <li>
                <a [routerLink]="['/my-account']" routerLinkActive="active">
                    <i class="fa fa-user"></i>
                </a>
            </li>

        </ul>
    </div>