<div class="menu-footer">
    <ul>
        <li>
            <a [routerLink]="['/']" routerLinkActive="active">
                <i class="fa fa-home"></i>
            </a>
        </li>

        <li *ngIf="totalList > 0 || bandejaList">
            <a [routerLink]="['/review']" routerLinkActive="active" class="cart">
                <!-- <i class="fa fa-shopping-bag"></i> -->
                <span class="cart-count-badge" *ngIf="bandejaList.length > 0 && bandejaList.length <= 10">
                    {{totalList}}</span>
                <span class="cart-count-badge" *ngIf="bandejaList.length > 10">
                    +10</span>
                <i class="fa fa-shopping-cart animated tada "></i>
            </a>
        </li>

        <li>
            <a [routerLink]="['/my-account']" routerLinkActive="active">
                <i class="fa fa-user"></i>
            </a>
        </li>
        <li *ngIf="user">
            <!-- CAMPANA CON BADGE -->
                <div class="position-relative me-3" routerLink="/notificaciones" style="cursor: pointer;">
                    <i class="fa fa-regular fa fa-bell fs-4 text-dark"></i>

                    <!-- Evaluamos el Observable. Si el valor emitido es mayor a 0, pinta el badge -->
                    @if ((unreadCount$ | async); as pendientes) {
                    @if (pendientes > 0) {
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        style="font-size: 0.6rem;">
                        {{ pendientes }}
                    </span>
                    }
                    }
                </div>
        </li>

    </ul>
</div>