.footer{
    display: flex;
    padding: 15px;
}
.footer-links{
    list-style: none;
}

.footer-links a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;

}
.social{
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 16px;

}