@import url('./carrousel.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./products-list.css');
@import url('./fonts.css');
@import url('./footer.css');
@import url('./pastasypastichos.css');
@import url('./orden.css');
@import url('./checkout.css');
/* Variables CSS */
:root {
    --primary-color: #e63946;
    --secondary-color: #1d3557;
    --accent-color: #f4a261;
    --light-bg: #fefae0;
    --dark-text: #2b2d42;
    --white: #ffffff;
    --font-primary: 'Poppins', sans-serif;
}

.clear {
    clear: both;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    height: 0;
}

/* Reset y base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    background-color: var(--light-bg);
    color: var(--dark-text);
    line-height: 1.6;
}
.delivery-icon img,
.product-image img, 
.category-image img{
width: 100%;
height: auto;
display: block;
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'Retro Team';
    color: #333;
}


.free-delivery-section{
    width: 100vw;
    float: right;
}

.delivery-icon{
    width: 70vw;
    float: right;
}

.delivery-text{
    width: 95vw;
    float: left;
    padding-top: 15px;
    padding-bottom: 20px;
}
.title-top{
    padding-top: 40px;
}


.tab-content-set .nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 10px;
        gap: 5px;
}

.tab-content-set .nav li{
            padding: 5px;
            font-size: 16px;
            
        }

.tab-content-set .nav li  a{
                color: var(--azulclaro);
                font-family: 'Retro Team';
            }

.container{
    margin: 0 auto;
    width: 98%;

}

.aviso{
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
    border-right: 1px solid #dcb50b;
    background-color: #edaa73f6;
    color: #f3f0eb;
    margin-bottom: 5px;
    border-radius: 12px;
    width: 98vw;
    position: fixed;
    z-index: 1500;
    bottom: 0;
    left: 0;
    top: auto;
    gap: 10px;
    justify-content: space-between;
}

.aviso-sucess{
    border-right: 1px solid #167f05;
    background-color: #19a264f2;
    color: #f3f0eb;
}