.menu-footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 52px;
    width: 100%;
    border-radius: 26px 26px 0px 0px;
    position: fixed;
    bottom: 0;
    z-index: 99;
    bottom: 0;
    /* background: linear-gradient(180deg,rgba(176, 176, 176, 0) 0%, rgba(255, 255, 255, 0.99) 52%, rgba(255, 255, 255, 1) 100%); */
    /* background: linear-gradient(180deg,rgba(176, 176, 176, 0) 0%, rgba(40, 40, 40, 0.99) 52%, rgba(40, 40, 40, 1) 100%); */
}

.menu-footer ul {
    display: flex;
    width: 100%;
    padding: 0px;
    
    
}
.menu-footer ul li a span{
text-decoration: none !important;
}

.menu-footer ul li,
.menu-footer ul li a i
 {
    display: flex;
    font-size: 20px;
    color: var(--light-brown);
    margin: auto;
    margin-top: 5px;
    text-decoration: none !important;
    
}

.menu-footer ul li:active,
.menu-footer ul li a:active,
.menu-footer ul li a.active,
.menu-footer ul li a.active i {
    color: var(--dark-brown) !important;
    text-decoration: none !important;
    
}

.menu-footer ul li a .fa-store-alt,
.menu-footer ul li a .fa-camera,
.menu-footer ul li a .fa-shopping-cart {
    display: flex;
    font-size: 1.2em !important;
    color: var(--light-brown);
    background-color: var(--white);
    border: 3px solid #fff;
    box-shadow: 0px 7px 10px #999;
    border-radius: 100px;
    height: 55px;
    width: 55px;
    text-align: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: -40px;
    text-decoration: none;
    text-decoration: none !important;
}

.menu-footer ul li.active.iconstore a i {
    color: var(--green-gray);
    text-decoration: none !important;
    box-shadow: var(--shadow-brown);
}
