
/* Order button styles */
.order-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.check-button,
.order-button {
  background-color: #1f2937;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.clear {
  clear: both;
  visibility: hidden;
  margin: 0px;
  padding: 0px;
  height: 0;
}

/* reviewOrder */

.order-list {
  display: flex;
  height: auto;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;

  /* animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%; */
}

.overf{
  width: 100%;
  min-height: 200px;
  max-height: 400px;

  overflow-y: scroll;
}

@media (max-width: 768px) {
  .order-list {
    width: 100%;
  }
}

.order-list-bar {
  display: flex;
  height: 10px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  background: white;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
  margin-bottom: 40px;
  margin-top: 10px;
  position: absolute;
  background: linear-gradient(180deg, rgba(176, 176, 176, 1) 0%, rgba(255, 255, 255, 0.99) 52%, rgba(255, 255, 255, 1) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}


.list-box {
  position: relative;
  z-index: 1;
  height: auto;
  min-height: 100px;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  background: white;
  background: linear-gradient(180deg, rgba(176, 176, 176, 1) 0%, rgba(255, 255, 255, 0.99) 52%, rgba(255, 255, 255, 1) 100%);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
  
  border-top: 1px solid #676767;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding:10px;
  margin-bottom: 5px;

  /* animation: customAni .5s ease-in 2s  normal none; */
  animation-delay: 0s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: customAni;
  animation-play-state: normal;
  animation-timing-function: ease-in;
}

/* Copy this code after the above code */
@keyframes customAni {
  0% {
	transform: scaleY(0.4);
	transform-origin: 100% 0%;
  opacity: 0;
  }

  100% {
    opacity: 1;
	transform: scaleY(1);
	transform-origin: 100% 0%;
  }
}

.list-box h3{
  margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 2rem;
}

.list-item {
  padding: 0 10px;
  height: auto;
  border-left: 1px solid #057b1a;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fff;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);


}

.top-item {
  width: 100%;
  height: 70px;
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

.list-item-left {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;

}

.list-item-right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

.info-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: white;
  align-items: center;
  padding: 10px;
}

.info-item h2 {
  font-size: 16px;
  font-weight: bold;
  color: #333;

}

.add-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  margin: 0;
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 90px;
  padding: 5px;

}

.add-items .icon-small {
  border-radius: 100px;
  background-color: floralwhite;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.price p {
  font-size: 16px;
  font-weight: bold;
  color: #333;

}

.list-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;

}

.total{
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  border: 1px dashed #ccc;
  border-radius: 16px;
}

