<section class="categories-section" id="categorias">
    <div class="container">
        <!-- Título Principal de la Carta -->
        <div class="title-section text-center">
            <h2 class="title-carta">{{title}}</h2>
            <div class="divider-line"></div>
        </div>

        <!-- Indicador de carga -->
        <app-loading *ngIf="isLoading"></app-loading>

        <div *ngIf="!isLoading">
            <!-- Menú de Pestañas Horizontales / Filtros dinámicos -->
            <div class="tab-content-set">
                <ul class="nav">
                    

                    <!-- Ciclo de subcategorías internas (Pastas, Pizza, Especiales...) -->
                    <ng-container *ngFor="let subcat of subcategories | categoriasPipe">
                        <li [class.active]="activeCategory.toLowerCase() === subcat.nombre.toLowerCase()"
                            [ngStyle]="activeCategory.toLowerCase() === subcat.nombre.toLowerCase()  ? {'color': tiendaSelected?.color_primario} : {}">
                            <a href="javascript:void(0);"
                                [ngClass]="{'active': activeCategory.toLowerCase() === subcat.nombre.toLowerCase()}"
                                (click)="selectCategory(subcat.nombre)"
                                [style.color]="activeCategory.toLowerCase() === subcat.nombre.toLowerCase() ? (tiendaSelected?.color_primario + ' !important') : null">

                                {{ subcat.nombre }}
                            </a>


                        </li>
                    </ng-container>

                    <!-- Botón estático para ver TODO el menú principal -->
                    <li [class.active]="activeCategory === 'all'"
                        [ngStyle]="{'color': tiendaSelected?.color_primario }">
                        <a href="#" onclick="return false;" [ngClass]="{'active': activeCategory === 'all'}"
                            (click)="selectCategory('all')">
                            Todo
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Grilla / Lista de productos filtrados -->
            <div *ngFor="let product of todo; let i = index">
                <app-product-item [activeCategory]="activeCategory" [tienda_moneda]="tienda_moneda" [product]="product"
                    data-bs-toggle="offcanvas" [attr.data-bs-target]="'#modalProduct-' + product._id"
                    (click)="openModal(product)">
                </app-product-item>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div>

<!-- Modal global e independiente para el detalle del plato seleccionado -->
<app-modalproduct [product]="selectedProduct" [activeCategory]="activeCategory" [tienda_moneda]="tienda_moneda"
    (modalClosed)="selectedProduct = null" *ngIf="selectedProduct && !isLoading">
</app-modalproduct>