<app-header></app-header>
<section class="sub-header d-flex justify-content-center mt-5" style="padding-top: 30px;">
    <img class="rellax bg-overlay" src="images/sub-header/05.jpg" alt="">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Mis Ordenes</h3>
</section>
<!-- Page Content-->
<div class="container pb-5 mb-2 mb-md-3">
    <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
            <app-aside-cuenta></app-aside-cuenta>
        </aside>
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Addresses list-->

            <hr class="pb-4">
            <!-- <div *ngFor="let item_venta of ventas |  paginate: { itemsPerPage: count, currentPage: p }"> -->
            <div *ngFor="let item_venta of ventas ">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="product-title font-size-base" style="margin-bottom: 0px;"><a>Compra: N°-{{item_venta._id.toUpperCase()}}</a></h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="font-size-sm"><span class="text-muted mr-2">Fecha:</span>{{ item_venta.createdAt | date:'MMM d, y, h:mm:ss a' }}</div>
                                <div class="font-size-sm"><span class="text-muted mr-2">Entrega:</span>{{ item_venta.tiempo_estimado }}</div>
                                <div class="font-size-sm">
                                    <span class="text-muted mr-2">Estado:</span>
                                    <span class="text-accent" *ngIf="item_venta.estado == 'Venta en proceso'">{{item_venta.estado}}</span>
                                    <span class="text-success" *ngIf="item_venta.estado == 'Enviado'">{{item_venta.estado}}</span>
                                    <span class="text-info" *ngIf="item_venta.estado == 'Finalizado'">{{item_venta.estado}}</span>
                                    <span *ngIf="item_venta.estado == 'Cancelado'" style="color: #ff0000">{{item_venta.estado}}</span>
                                    <span *ngIf="item_venta.estado == 'Reembolsado'" style="color: #ff0000">{{item_venta.estado}}</span>
                                </div>
                                <div class="font-size-sm"><span class="text-muted mr-2">Tracking:</span>
                                    <span *ngIf="item_venta.tracking_number">{{item_venta.tracking_number}}</span>
                                    <span *ngIf="!item_venta.tracking_number" class="badge badge-dark">No disponible</span>
                                </div>
                                <div class="font-size-lg text-accent pt-2"><span class="text-muted mr-2">Total pagado:</span>${{item_venta.total_pagado}}</div>
                                
                                <div *ngIf="item_venta.estado !== 'Cancelado' && item_venta.estado !== 'Reembolsado'">
                                    <div class="btn-group btn-group mt-4" role="group" aria-label="Small group">
                                        <div *ngIf="item_venta.estado == 'Enviado'">
                                            <div *ngIf="item_venta.tracking_number">
                                                <a class="btn btn-accent" [routerLink]="['/my-account/ordenes/tracking/',item_venta._id]"><span class="czi-plane"></span> Track</a>
                                            </div>
                                            <div *ngIf="!item_venta.tracking_number">
                                                <button class="btn btn-accent" style="color:white !important" disabled><span class="czi-plane" style="color:white !important"></span> Sin seguimiento</button>
                                            </div>
                                        </div>
                                        <div *ngIf="item_venta.estado == 'Venta en proceso' || item_venta.estado == 'Finalizado'">
                                            <button disabled class="btn btn-accent"><span class="czi-plane"></span> Track</button>
                                        </div>

                                        <a class="btn btn-dark" [routerLink]="['/my-account/ordenes/detalles/',item_venta._id]"><span class="czi-package"></span> Detalles</a>



                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <!-- paginador -->
            <div class="row">
                <div class="col-md-12 text-right">
                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

                </div>
            </div>
        </section>
    </div>
</div>
