<app-header (refreshApp)="onRefreshFromHeader()" ></app-header>
<!-- <p>home works!</p> -->
<!-- Carrousel Section -->
<app-loading *ngIf="isReloadig"></app-loading>
<div *ngIf="!isReloadig">
    <app-slider></app-slider>
    <!-- Free Delivery Section -->
    <app-free-delivery></app-free-delivery>
    <div class="clear"></div>
    <br>
    <!-- Categories Section -->
    <app-cas-products  [activeCategory]="'Pizzería'" [isVisible]="true" [title]="'Carta Pizza'"  (msm_success)="onMsmSuccess($event)" [refreshCasProducts]="refreshCasProducts"></app-cas-products>
    <!-- Pastas Products -->
    <!-- Hero Section -->
    <app-hero></app-hero>
    <app-cas-products  [activeCategory]="'Entradas'" [title]="'Entradas'"  (msm_success)="onMsmSuccess($event)" [refreshCasProducts]="refreshCasProducts"></app-cas-products>
    <br>
    <hr>
    <br>
    <app-cas-products  [activeCategory]="'Bebidas'" [title]="'Bebidas'"  (msm_success)="onMsmSuccess($event)" [refreshCasProducts]="refreshCasProducts"></app-cas-products>
    <br>
    <hr>
    <br>
    <app-cas-products  [activeCategory]="'Postres'" [title]="'Postres'"  (msm_success)="onMsmSuccess($event)" [refreshCasProducts]="refreshCasProducts"></app-cas-products>
    <!-- <app-produc-list-slider (msm_success)="onMsmSuccess($event)" [refreshCasProducts]="refreshCasProducts"></app-produc-list-slider> -->

    <!-- Featured Products -->

    <!-- <section class="featured-section" id="menu">
    <div class="featured-container">
        <h2 class="section-title">Los Más Populares</h2>

        <app-produc-list></app-produc-list>
    </div>
</section> -->
<app-pwa-notif-installer></app-pwa-notif-installer>
    <!-- Footer -->
    <app-menu-footer *ngIf="user"></app-menu-footer>
    <app-footer ></app-footer>
</div>