<div class="cz-sidebar-static ">
  <ul class="listainterna ">
    <li>
      <a class="nav-links" [routerLink]="['/my-account/perfil/', identity.uid]" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-user opacity-60 mr-2"></i>Mis Datos
      </a>
    </li>
    <li *ngIf="identity.telefono">
      <a class="nav-links" [routerLink]="['/my-account/direcciones']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="czi-bag opacity-60 mr-2"></i>Direcciones</a>
    </li>

    <li *ngIf="identity.telefono">
      <a class="nav-links" [routerLink]="['/review']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-shopping-basket opacity-60 mr-2"></i>Carrito</a>
    </li>
    <li *ngIf="identity.telefono">
      <a class="nav-links" [routerLink]="['/my-account/pedidos']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="czi-bag opacity-60 mr-2"></i>Pedidos</a>
    </li>
    <li *ngIf="identity.telefono">
      <a class="nav-links" [routerLink]="['/my-account/ordenes']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-shopping-basket opacity-60 mr-2"></i>Ordenes</a>
    </li>
    <li *ngIf="identity.telefono">
      <a class="nav-links" [routerLink]="['/mis-pagos']" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-wallet"></i>
        Mis Pagos
      </a>
    </li>
  </ul>
</div>
<div class="setting-row shadow-sm">
  <a [routerLink]="['/my-account']">
    <div class="setting-info ">
      <i class="fa fa-backward"></i>
      <div class="text-container">
        <strong>Inicio Cuenta</strong>
      </div>
    </div>
  </a>
</div>
<hr>