<section class="pastas-section" id="pastas">
        <div class="container">
            <h2 class="section-title">Pastichos</h2>
            <div class="products-slider" *ngFor="let prod of products">
                <div class="product-card">
                    <div class="product-image">
                        <img [src]="prod.img" [alt]="prod.titulo">
                    </div>
                    <div class="product-content">
                        <h5>{{prod.titulo}}</h5>
                        <div class="product-price">{{prod.precio_antes| currency}}</div>
                        <div class="product-price">{{prod.precio_ahora| currency}}</div>
                       <div class="botones">
                         <button class="btn-secondary btn"><i class="fa fa-eye"></i></button>
                        <button class="btn-success btn"><i class="fa fa-shopping-bag"></i></button>
                       </div>
                    </div>
                </div>
                <!-- <div class="product-card">
                    <div class="product-image">
                        <img src="assets/images/products/pizza1.jpeg" alt="Pizza Pepperoni">
                    </div>
                    <div class="product-content">
                        <h5> Pepperoni</h5>
                        <div class="product-price">$14.99</div>
                        <div class="botones">
                         <button class="btn-secondary btn"><i class="fa fa-eye"></i></button>
                        <button class="btn-success btn"><i class="fa fa-shopping-bag"></i></button>
                       </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="assets/images/products/pizza1.jpeg" alt="Pizza Hawaiana">
                    </div>
                    <div class="product-content">
                        <h5> Hawaiana</h5>
                        <div class="product-price">$13.99</div>
                        <div class="botones">
                         <button class="btn-secondary btn"><i class="fa fa-eye"></i></button>
                        <button class="btn-success btn"><i class="fa fa-shopping-bag"></i></button>
                       </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="assets/images/products/pizza1.jpeg" alt="Pizza Cuatro Quesos">
                    </div>
                    <div class="product-content">
                        <h5> Cuatro Quesos</h5>
                        <div class="product-price">$15.99</div>
                        <div class="botones">
                         <button class="btn-secondary btn"><i class="fa fa-eye"></i></button>
                        <button class="btn-success btn"><i class="fa fa-shopping-bag"></i></button>
                       </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <div class="clear"></div>