<app-header></app-header>

<main class="container">
  <div class="title-top">
    <h1>Checkout</h1>
  </div>

  <div class="order-list">
    <div class="order-list-bar"></div>
    <div class="list-box">


      <div class="breadcrumb-item">
        <h3>Mi Pedido</h3>
        <button class="check-button" routerLink="/review">
          <i class="fa fa-chevron-left icon-small"></i>
        </button>
      </div>
      <div class="clear"></div>
      <div class="top-item-flex">
        <p>Hola <b>{{identity.first_name}}</b>!,
          <br>
          Sí ya confirmaste tu Pedido, al solicitar enviaremos tu numero de Whatsapp, para recibir el pedido y
          comunicarnos contigo.
        </p>
      </div>
      <div class=" overf">
        <div class="list-item" *ngFor="let item of bandejaList; let i = index">
          <div class="clear"></div>
          <div class="info-item">
            <img [src]="item.img | imagenPipe:'productos' " alt="">
            <h2>{{item.titulo}}</h2>
            <div class="add-items justify-content-center">
              <span>{{item.cantidad}}</span>
            </div>
            <div class="price">
              <p>{{item.precio_ahora * item.cantidad |number:'1.2-2'| currency:tienda_moneda}}</p>
              <!-- <p >{{item.precio_ahora | currency}}</p> -->
            </div>
          </div>
        </div>

      </div>
      <hr class="mt-0 line">
      <div class="info_pago total">
        <!-- <div class="info_pago_titulo1"><span> Artículos</span> </div> -->
        <div class="info_pago_titulo1"><span>Total a Pagar</span> </div>
        <!-- <div class="info_pagod_data3"><span>({{bandejaList.length}})</span> </div> -->
        <div class="info_pagod_data3"><span>{{total() |number:'1.2-2'| currency:tienda_moneda}}</span> </div>
      </div>

      <!-- !!identity -->
      <div class="col-12 alert-warning text-center pt-3" *ngIf="!identity">
        <p>Debes registrarte ó iniciar sesión para poder procesar el pago</p>
      </div>
      <button class="check-button pt-2 text-center" *ngIf="!identity" routerLink="/login">
        <i class="fa fa-user icon-small"></i>
        Ingresar
      </button>
      <!-- !!identity -->

      <!-- !!enviar whatsapp -->

      <div class="col-12" style="margin-top: 20px;" *ngIf="identity">
        <div class="order-button-container">
          <button class="check-button" (click)="sendWhatsAppOrder()">
            <i class="fa fa-whatsapp"></i>
            Enviar Pedido por WhatsApp
          </button>
        </div>
      </div>
      <!-- !!enviar whatsapp -->

      <div class="col-12" *ngIf="identitys">


        <!-- <span>Metodos de Pago</span> -->
        <div class="card p-3" id="card-pay">
          <label class="form-label">Seleccione el método de pago</label>
          <!-- select metodo de pago -->
          <select id="paymentMethod" class="form-control" (change)="onPaymentMethodChange($event)"
            [(ngModel)]="selectedMethod">
            <option value=" ">Selecciona un método de pago</option>
            <option value="paypal">Paypal</option>
            <option value="card">Tarjeta de Crédito/Débito</option>
            <option value="transferencia">Transferencia Bancaria</option>
          </select>
          <!-- Contenedor para el botón de PayPal -->
          <!-- <div #paypal *ngIf="paypal">
            <ngx-paypal [config]="payPalConfig"></ngx-paypal>
          </div> -->
          <!-- <div #paypal></div> -->
          <!-- Contenedor para el botón de transferencia-->
          <div *ngIf="habilitacionFormTransferencia" class="mt-1 mb-1 ">


            <form [formGroup]="formTransferencia" (ngSubmit)="sendFormTransfer()">

              <!-- Tipo de Transferencia -->
              <div class="mb-3 mt-2 col-12">
                <label class="form-label">Tipo de Transferencia</label>
                <select formControlName="metodo_pago" class="form-control" (change)="onChangePayment($event)"
                  name="metodo_pago" id="metodo_pago">
                  <option value=" ">Seleccione Tipo de Transferencia</option>
                  <option [value]="metodo_pago._id" *ngFor="let metodo_pago of paymentMethods">
                    {{metodo_pago.tipo}}
                  </option>
                </select>
              </div>
              <div class="card mb-3">
                <div class="card-body alert-warning " *ngIf="paymentSelected">
                  <p>Entre a su Aplicación Bancaria y realice el pago con la siguiente información:</p>
                  <p *ngIf="paymentSelected.bankName">Nombre del Banco:&nbsp;{{paymentSelected.bankName}}</p>
                  <p *ngIf="paymentSelected.username">Cheque a nombre de:&nbsp;{{paymentSelected.username}}</p>
                  <p *ngIf="paymentSelected.bankAccount">Número de
                    Cuenta:&nbsp;{{paymentSelected.bankAccount}}</p>
                  <p *ngIf="paymentSelected.phone">Número de Teléfono:&nbsp;{{paymentSelected.phone}}</p>
                  <p *ngIf="paymentSelected.email">Email:&nbsp;{{paymentSelected.email}}</p>
                  <p *ngIf="paymentSelected?.ciorif">CI o rif:&nbsp;{{paymentSelected.ciorif}}</p>
                </div>
              </div>

              <div class="row"
                *ngIf="paymentSelected && paymentSelected?.tipo === 'Transferencia Dólares'|| paymentSelected && paymentSelected?.tipo === 'Transferencia Bolivares'">
                <!-- nombre del banco -->
                <div class="mb-3 col-xs-12 col-sm-6">
                  <label for="bankName" class="form-label">Banco</label>
                  <input type="text" formControlName="bankName" class="form-control" name="bankName" id="bankName">
                </div>
                <!-- monto -->
                <div class="mb-3 col-xs-12 col-sm-6">
                  <label for="amount" class="form-label">Monto</label>
                  <input type="number" formControlName="amount" class="form-control" name="amount" id="amount">
                </div>
                <!-- numero de referencia -->
                <div class="mb-3 col-xs-12 col-sm-6">
                  <label for="referencia" class="form-label">Num. referencia</label>
                  <input type="text" formControlName="referencia" class="form-control" name="referencia"
                    id="referencia">
                </div>
                <!-- botones -->
                <div class="d-flex justify-content-center gap-2">


                  <button class="check-button " type="submit">
                    <i class="fa fa-money-check"></i>
                    Procesar pago
                  </button>
                </div>
              </div>


              <div class="row" *ngIf="paymentSelected && paymentSelected?.tipo === 'pagomovil'">
                <!-- monto -->
                <div class="mb-3 col-xs-12 col-sm-6">
                  <label for="amount" class="form-label">Monto</label>
                  <input type="number" formControlName="amount" class="form-control" name="amount" id="amount">
                </div>
                <!-- nombre del banco -->
                <div class="mb-3 col-xs-12 col-sm-6">
                  <label for="bankName" class="form-label">Banco</label>
                  <input type="text" formControlName="bankName" class="form-control" name="bankName" id="bankName">
                </div>
                <!-- teléfono de la persona que hace la transferencia -->
                <div class="mb-3 col-xs-12 col-sm-6">
                  <label for="phone" class="form-label">Teléfono</label>
                  <input type="number" formControlName="phone" class="form-control" name="phone" id="phone">
                </div>
                <!-- botones -->
                <div class="d-flex justify-content-center gap-2">


                  <button class="check-button " type="submit">
                    <i class="fa fa-money-check"></i>
                    Procesar pago
                  </button>
                </div>
              </div>

              <div *ngIf="paymentSelected && paymentSelected?.tipo === 'zelle'">
                <div class="row">
                  <!-- numero de referencia -->
                  <div class="mb-3 col-xs-12 col-sm-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" formControlName="email" class="form-control" name="email" id="email">
                  </div>
                  <!-- nombre del banco -->
                  <div class="mb-3 col-xs-12 col-sm-6">
                    <label for="bankName" class="form-label">Banco</label>
                    <input type="text" formControlName="bankName" class="form-control" name="bankName" id="bankName">
                  </div>
                </div>

                <div class="row">
                  <!-- numero de referencia -->
                  <div class="mb-3 col-xs-12 col-sm-6">
                    <label for="referencia" class="form-label">Num. referencia</label>
                    <input type="text" formControlName="referencia" class="form-control" name="referencia"
                      id="referencia">
                  </div>

                  <!-- monto -->
                  <div class="mb-3 col-xs-12 col-sm-6">
                    <label for="amount" class="form-label">Monto</label>
                    <input type="number" formControlName="amount" class="form-control" name="amount" id="amount">
                  </div>
                </div>
                <!-- botones -->
                <div class="d-flex justify-content-center gap-2">


                  <button class="check-button " type="submit">
                    <i class="fa fa-money-check"></i>
                    Procesar pago
                  </button>
                </div>


              </div>

            </form>
          </div>


        </div>

      </div>

    </div>
  </div>

  <div class="order-button-container">

    <button class="check-button" routerLink="/review">
      <i class="fa fa-chevron-left icon-small"></i>
      Volver
    </button>
  </div>


</main>