<app-header></app-header>

<main class="container">
  <div class="title-top">
    <h1>Checkout</h1>
  </div>

  <div class="order-list">
    <div class="order-list-bar"></div>
    <div class="list-box">
      <div class="breadcrumb-item">
        <h3>Mi Pedido</h3>
        <button class="check-button" routerLink="/review">
          <i class="fa fa-chevron-left icon-small"></i>
        </button>
      </div>
      <div class="clear"></div>
      <!-- saludo -->
      <div class="top-item-flex">
        <p>Hola <b>{{identity.first_name}}</b>!,
          <br>
           <!-- <span style=" color: rgb(224, 154, 24); font-weight: bold; text-align: center;"
            *ngIf="!delivery ">
            Favor colocar una direccion para el envio o pickup en la tienda
          </span><br>
          <span *ngIf="delivery === 'Delivery'">
            En tu pedido solicitaste un Delivery a <b>{{direccion?.direccion}}</b>
          </span><br>
          <span *ngIf="delivery === 'Pickup'">
            Esperaremos tu visita!
          </span><br> -->
         
          Sí ya confirmaste tu Pedido, al solicitar enviaremos tu numero de Whatsapp, para recibir el pedido y
          comunicarnos contigo.
        </p>
      </div>
      <!-- listado -->
      <div class=" overf">
        <div class="list-item" *ngFor="let item of bandejaList; let i = index">
          <div class="clear"></div>
          <div class="info-item">
            <img [src]="item.img | imagenPipe:'productos' " alt="">
            <h2>{{item.titulo}}</h2>
            <div class="add-items justify-content-center">
              <span>{{item.cantidad}}</span>
            </div>
            <div class="price">
              <p>{{item.precio_ahora * item.cantidad |number:'1.2-2'| currency:tienda_moneda}}</p>
              <!-- <p >{{item.precio_ahora | currency}}</p> -->
            </div>
          </div>
        </div>

      </div>
      <!-- Total a Pagar -->
      <div class="info_pago total">
        <div class="info_pago_titulo1"><span>Total a Pagar</span> </div>
        <div class="info_pagod_data3"><span>{{total() |number:'1.2-2'| currency:tienda_moneda}}</span> </div>
      </div>
      <!-- Verificar si esta logueado -->
      <!-- <div class="col-12 alert-warning text-center pt-3" *ngIf="!identity">
        <p>Debes registrarte ó iniciar sesión para poder procesar el pago</p>
      </div>
      <button class="check-button pt-2 text-center" *ngIf="!identity" routerLink="/login">
        <i class="fa fa-user icon-small"></i>
        Ingresar
      </button> -->
      <!-- !!identity -->


      <!-- !!enviar whatsapp -->
      <div class="col-12" style="margin-top: 20px;" *ngIf="identity ">
        <div class="order-button-container">
          <button class="check-button" (click)="sendWhatsAppOrder()">
            <i class="fa fa-whatsapp"></i>
            Enviar Pedido por WhatsApp
          </button>
        </div>
      </div>
      <!-- !!enviar whatsapp -->
    </div>
  </div>

  <div class="order-button-container">
    <button class="check-button" routerLink="/review">
      <i class="fa fa-chevron-left icon-small"></i>
      Volver
    </button>
  </div>


</main>