
<footer class="footer" id="contacto">
    <div class="footer-container">
        <div class="footer-grid">
            <div class="footer-section">
                <h4>{{tiendaSelected?.nombre}}</h4>
                <p>{{tiendaSelected?.ciudad}}, {{tiendaSelected?.pais}}</p>
                <p>Compartiendo la tradición italiana desde 1990. Cada pizza es elaborada con amor y los mejores
                    ingredientes.</p>
            </div>
            <!-- <div class="footer-section">
                    <h4>Enlaces Rápidos</h4>
                    <ul class="footer-links">
                        <li><a href="#inicio">Inicio</a></li>
                        <li><a href="#menu">Menú</a></li>
                        <li><a href="#categorias">Categorías</a></li>
                        <li><a href="#promociones">Promociones</a></li>
                    </ul>
                </div> -->
            <div class="footer-section">
                <h4>Contáctanos</h4>
                <ul class="footer-links">
                    <li><a href="#"><i class="fas fa-phone"></i> {{tiendaSelected?.telefono}}</a></li>
                    <!-- <li><a href="#"><i class="fas fa-map-marker-alt"></i> Calle Principal #123</a></li> -->
                    <li><a href="#"><i class="fas fa-envelope"></i> info&#64;strapizza.com</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Síguenos</h4>
                <ul class="footer-links social">
                    <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> </a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 Strapizza. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>